// Typographic setting

h1, h2, h3, h4 {
  font-weight: normal;
}

.hero-unit {
  padding: 20px 30px;

  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 25px;
  }
}

.nav-header {
  font-weight: normal;
}
